body{
    background-color: rgb(0, 0, 0);
}

#duelo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: unlock;
    background-color: rgb(159, 28, 28);
   
}
#titulo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: unlock;
}
p{
  color:white;
  font-family: old-standard-tt-regular;
  font-size: larger;

}
.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
  }
  h2{
    font-family: unlock;
    font-size: larger;
  }
  #titulo:hover {
    color: red;
  }
  #duelo:hover {
    color: red;
  }
  button:hover{
    color: red;
  }
 
 
 body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #4a2511;
  text-align: center;
  margin: 0;
  padding: 0;
}

.game-container {
  padding: 20px;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#cowboy {
  font-size: 5rem;
  margin: 20px 0;
}

#result {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #d67e2c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b25c1e;
}

#enemy {
  font-size: 1rem;
  color: white;
}
#message {
  color: white;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}
.unlock-regular {
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
}

.historia {
 background-color: black;

}

.background {
  height: 500px; /* Altura de la "ventana" */
  background-image: url(https://cdn.staticneo.com/ew/4/43/RDR2_168.png); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Fija la imagen al fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}