body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: unlock;
    background-color: rgb(159, 28, 28);
   
}
#subtitulo {
    text-align: center;
}
.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
  }
  h2{
    font-family: unlock;
    font-size: larger;
  }
  h1:hover {
color: red;
  }
  button:hover{
    color: red;
  }
 #characters>li:nth-child(odd) {
  border-width: 3px;
  border-style: dotted;
  border-color: red;
  padding: 10px;
 }
#padre {
 
  
  display: flex;

  justify-content: space-between;
}
.hijo {
 

}